@model LoginViewModel

@{
    Layout = "_CleanLayout";
    ViewData["Title"] = "Login";
}

<div class="split-screen-grid">
    <div class="left-col text-white">
        <h1 class="primary-display text-white">Welcome to <span class="text-orange">Admin Panel</span></h1>
        <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper nisl erat, vel convallis elit fermentum pellentesque. Sed mollis velit facilisis facilisis viverra.</p>
    </div>
    <div class="right-col">
        <form class="user-form" asp-action="Login" asp-controller="Admin" method="post" novalidate>
            <h2 class="primary-heading">Login</h2>
            <div class="form-content">
                <button class="btn btn-gray btn-form btn-google"><img src="~/images/google-icon.svg" alt="">Login with Google</button>
                <div class="divider">OR</div>
                <div class="form-inner">
                    <label class="fw-semi-bold" asp-for="Email"></label>
                    <div class="field-container">
                        <input type="email" asp-for="Email">
                        <span asp-validation-for="Email"></span>
                    </div>
                </div>
                <div class="form-inner">
                    <label class="fw-semi-bold" asp-for="Password"></label>
                    <div class="field-container">
                        <input type="password" asp-for="Password">
                        <button class="btn-icon form-icon-container right" type="button"><img src="~/images/hide.svg" alt=""></button>
                        <span asp-validation-for="Password"></span>
                    </div>
                </div>
                <div class="flex-sb">
                    <div class="checkbox-container">
                        <input type="checkbox" asp-for="RememberMe">
                        <span class="checkbox"></span>
                        <label class="fw-regular" asp-for="RememberMe"></label>
                    </div>
                    <a class="text-blue" href="#">Forgot Password?</a>
                </div>
                <button class="btn btn-blue btn-form" type="submit">Log In</button>
            </div>
        </form>
    </div>
</div>