@inject IMemberService memberService

@{
    var memberId = User.FindFirst(ClaimTypes.NameIdentifier)!.Value;
    var member = await memberService.GetMemberAsync(memberId);
}

<header class="top-menu">
    <div class="searchbar">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="search" name="" id="" placeholder="Search anything...">
    </div>
    <div class="menu-options">
        <button class="btn-icon" data-type="toggle" data-target="#notifications"><i class="fa-solid fa-bell"></i></button>
        <button class="btn-icon" data-type="toggle" data-target="#settings"><i class="fa-solid fa-gear"></i></button>
        <div class="divider-vertical"></div>
        <a href="#"><img src="~/images/avatar.svg" alt=""></a>
    </div>
    <div id="notifications" class="notifications-dropdown dropdown hidden">
        <div class="flex-sb">
            <p class="quinary-heading">Notifications</p>
            <div class="count">1</div>
        </div>
        <div class="divider-full"></div>
        <div class="notification dropdown-option">
            <img src="~/images/project-logo.svg" alt="">
            <div>
                <p class="text-clr-emphasize">Website Redesign added</p>
                <p class="text-small text-clr-subtle">1 min ago</p>
            </div>
            <button class="btn-icon btn-delete"><i class="fa-solid fa-xmark"></i></button>
        </div>
    </div>
    <div id="settings" class="settings-dropdown dropdown hidden">
        <div class="dropdown-option">
            <img src="~/images/avatar.svg" alt="">
            <p class="fw-semi-bold text-clr-emphasize">@member.Result!.FirstName @member.Result!.LastName</p>
        </div>
        <div class="dropdown-option switch-button">
            <i class="fa-solid fa-gear"></i>
            <label for="">Dark Mode</label>
            <input type="checkbox" name="" id="dark-mode-input">
            <span id="dark-mode-switch" class="switch"></span>
        </div>
        <div class="divider-full"></div>
        <a class="dropdown-option" asp-action="Logout" asp-controller="Auth"><i class="fa-solid fa-right-to-bracket"></i>Logout</a>
    </div>
</header>