<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Alpha</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/a4670a4e55.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="portal-grid">
        <header class="top-menu">
            <div class="searchbar">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" name="" id="" placeholder="Search anything...">
            </div>
            <div class="menu-options">
                <button class="btn-icon" data-type="toggle" data-target="#notifications"><i class="fa-solid fa-bell"></i></button>
                <button class="btn-icon" data-type="toggle" data-target="#settings"><i class="fa-solid fa-gear"></i></button>
                <div class="divider-vertical"></div>
                <a href="#"><img src="~/images/avatar.svg" alt=""></a>
            </div>
            <div id="notifications" class="notifications-dropdown dropdown hidden">
                <div class="flex-sb">
                    <p class="quinary-heading">Notifications</p>
                    <div class="count">1</div>
                </div>
                <div class="divider-full"></div>
                <div class="notification dropdown-option">
                    <img src="~/images/project-logo.svg" alt="">
                    <div>
                        <p class="text-clr-emphasize">Website Redesign added</p>
                        <p class="text-small text-clr-subtle">1 min ago</p>
                    </div>
                    <button class="btn-icon btn-delete"><i class="fa-solid fa-xmark"></i></button>
                </div>
            </div>
            <div id="settings" class="settings-dropdown dropdown hidden">
                <div class="dropdown-option">
                    <img src="~/images/avatar.svg" alt="">
                    <p class="fw-semi-bold text-clr-emphasize">Tommy Mattin-Lassei</p>
                </div>
                <div class="dropdown-option switch-button">
                    <i class="fa-solid fa-gear"></i>
                    <label for="">Dark Mode</label>
                    <input type="checkbox" name="" id="dark-mode-input">
                    <span id="dark-mode-switch" class="switch"></span>
                </div>
                <div class="divider-full"></div>
                <a class="dropdown-option" href="#"><i class="fa-solid fa-right-to-bracket"></i>Logout</a>
            </div>
        </header>
        <main class="portal-main">
            @RenderBody()
        </main>
        <aside class="side-navigation">
            <a class="logo" asp-action="Login" asp-controller="Auth"><img src="~/images/logo.svg" alt=""><span>alpha</span></a>
            <nav>
                <ul class="nav-links">
                    <li><a class="nav-link @(Context.Request.Path == "/projects" ? "active" : "")" asp-action="Projects" asp-controller="Projects"><i class="fa-solid fa-briefcase"></i><span>Projects</span></a></li>
                    <li><a class="nav-link @(Context.Request.Path == "/admin/members" ? "active" : "")" asp-action="Login" asp-controller="Admin"><i class="fa-solid fa-user-group"></i><span>Team Members</span></a></li>
                </ul>
            </nav>
        </aside>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
