<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Alpha</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/a4670a4e55.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="portal-grid">
        <partial name="Partials/Sections/_Header">
        <main class="portal-main">
            @RenderBody()
        </main>
        <aside class="side-navigation">
            <a class="logo" asp-action="Projects" asp-controller="Projects"><img src="~/images/logo.svg" alt=""><span>alpha</span></a>
            <nav>
                <ul class="nav-links">
                    <li><a class="nav-link @(Context.Request.Path == "/projects" ? "active" : "")" asp-action="Projects" asp-controller="Projects"><i class="fa-solid fa-briefcase"></i><span>Projects</span></a></li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li><a class="nav-link @(Context.Request.Path == "/admin/members" ? "active" : "")" asp-action="TeamMembers" asp-controller="Admin"><i class="fa-solid fa-user-group"></i><span>Team Members</span></a></li>
                    }
                </ul>
            </nav>
        </aside>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
