@{
	ViewData["Title"] = "Projects";
}

<header class="flex-sb">
    <h1 class="secondary-heading">@ViewData["Title"]</h1>
    <button class="btn btn-blue btn-add"><i class="fa-solid fa-plus"></i><span>Add Project</span></button>
</header>
<nav>
    <ul class="tab-links">
        <li><a class="tab-link active" href="#">ALL [8]</a></li>
        <li><a class="tab-link" href="#">STARTED [8]</a></li>
        <li><a class="tab-link" href="#">COMPLETED [0]</a></li>
    </ul>
</nav>
<section class="card-grid">
    <div class="card">
        <div class="card-header">
            <img src="~/images/project-logo.svg" alt="">
            <div class="card-heading">
                <h2 class="senary-heading">Website Redesign</h2>
                <p>GitLab Inc.</p>
            </div>
            <button class="btn-icon btn-more"><i class="fa-solid fa-circle circle-icon"></i><i class="fa-solid fa-circle circle-icon"></i></button>
        </div>
        <p>It is necessary to develop a website redesign in a corporate style.</p>
        <div class="card-footer">
            <p class="info-box"><i class="fa-solid fa-clock"></i><span>1 week left</span></p>
            <img src="~/images/avatar-small-1.svg" alt="">
            <img src="~/images/avatar-small-2.svg" alt="">
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="~/images/project-logo.svg" alt="">
            <div class="card-heading">
                <h2 class="senary-heading">Website Redesign</h2>
                <p>GitLab Inc.</p>
            </div>
            <button class="btn-icon btn-more"><i class="fa-solid fa-circle circle-icon"></i><i class="fa-solid fa-circle circle-icon"></i></button>
        </div>
        <p>It is necessary to develop a website redesign in a corporate style.</p>
        <div class="card-footer">
            <p class="info-box"><i class="fa-solid fa-clock"></i><span>1 week left</span></p>
            <img src="~/images/avatar-small-1.svg" alt="">
            <img src="~/images/avatar-small-2.svg" alt="">
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="~/images/project-logo.svg" alt="">
            <div class="card-heading">
                <h2 class="senary-heading">Website Redesign</h2>
                <p>GitLab Inc.</p>
            </div>
            <button class="btn-icon btn-more"><i class="fa-solid fa-circle circle-icon"></i><i class="fa-solid fa-circle circle-icon"></i></button>
        </div>
        <p>It is necessary to develop a website redesign in a corporate style.</p>
        <div class="card-footer">
            <p class="info-box"><i class="fa-solid fa-clock"></i><span>1 week left</span></p>
            <img src="~/images/avatar-small-1.svg" alt="">
            <img src="~/images/avatar-small-2.svg" alt="">
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="~/images/project-logo.svg" alt="">
            <div class="card-heading">
                <h2 class="senary-heading">Website Redesign</h2>
                <p>GitLab Inc.</p>
            </div>
            <button class="btn-icon btn-more"><i class="fa-solid fa-circle circle-icon"></i><i class="fa-solid fa-circle circle-icon"></i></button>
        </div>
        <p>It is necessary to develop a website redesign in a corporate style.</p>
        <div class="card-footer">
            <p class="info-box"><i class="fa-solid fa-clock"></i><span>1 week left</span></p>
            <img src="~/images/avatar-small-1.svg" alt="">
            <img src="~/images/avatar-small-2.svg" alt="">
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="~/images/project-logo.svg" alt="">
            <div class="card-heading">
                <h2 class="senary-heading">Website Redesign</h2>
                <p>GitLab Inc.</p>
            </div>
            <button class="btn-icon btn-more"><i class="fa-solid fa-circle circle-icon"></i><i class="fa-solid fa-circle circle-icon"></i></button>
        </div>
        <p>It is necessary to develop a website redesign in a corporate style.</p>
        <div class="card-footer">
            <p class="info-box"><i class="fa-solid fa-clock"></i><span>1 week left</span></p>
            <img src="~/images/avatar-small-1.svg" alt="">
            <img src="~/images/avatar-small-2.svg" alt="">
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="~/images/project-logo.svg" alt="">
            <div class="card-heading">
                <h2 class="senary-heading">Website Redesign</h2>
                <p>GitLab Inc.</p>
            </div>
            <button class="btn-icon btn-more"><i class="fa-solid fa-circle circle-icon"></i><i class="fa-solid fa-circle circle-icon"></i></button>
        </div>
        <p>It is necessary to develop a website redesign in a corporate style.</p>
        <div class="card-footer">
            <p class="info-box"><i class="fa-solid fa-clock"></i><span>1 week left</span></p>
            <img src="~/images/avatar-small-1.svg" alt="">
            <img src="~/images/avatar-small-2.svg" alt="">
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="~/images/project-logo.svg" alt="">
            <div class="card-heading">
                <h2 class="senary-heading">Website Redesign</h2>
                <p>GitLab Inc.</p>
            </div>
            <button class="btn-icon btn-more"><i class="fa-solid fa-circle circle-icon"></i><i class="fa-solid fa-circle circle-icon"></i></button>
        </div>
        <p>It is necessary to develop a website redesign in a corporate style.</p>
        <div class="card-footer">
            <p class="info-box"><i class="fa-solid fa-clock"></i><span>1 week left</span></p>
            <img src="~/images/avatar-small-1.svg" alt="">
            <img src="~/images/avatar-small-2.svg" alt="">
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="~/images/project-logo.svg" alt="">
            <div class="card-heading">
                <h2 class="senary-heading">Website Redesign</h2>
                <p>GitLab Inc.</p>
            </div>
            <button class="btn-icon btn-more"><i class="fa-solid fa-circle circle-icon"></i><i class="fa-solid fa-circle circle-icon"></i></button>
        </div>
        <p>It is necessary to develop a website redesign in a corporate style.</p>
        <div class="card-footer">
            <p class="info-box"><i class="fa-solid fa-clock"></i><span>1 week left</span></p>
            <img src="~/images/avatar-small-1.svg" alt="">
            <img src="~/images/avatar-small-2.svg" alt="">
        </div>
    </div>
</section>
