@{
	ViewData["Title"] = "Projects";
}

<header class="flex-sb">
    <h1 class="secondary-heading">@ViewData["Title"]</h1>
    <button class="btn btn-blue btn-add" data-type="modal" data-target="#create-project"><i class="fa-solid fa-plus"></i><span>Add Project</span></button>
</header>
<nav>
    <ul class="tab-links">
        <li><a class="tab-link active" href="#">ALL [8]</a></li>
        <li><a class="tab-link" href="#">STARTED [8]</a></li>
        <li><a class="tab-link" href="#">COMPLETED [0]</a></li>
    </ul>
</nav>
<section class="card-grid">
    <div class="card">
        <div class="card-header">
            <img src="~/images/project-logo.svg" alt="">
            <div class="card-heading">
                <h2 class="senary-heading">Website Redesign</h2>
                <p>GitLab Inc.</p>
            </div>
            <button class="btn-icon btn-more" data-type="toggle" data-target="#card-1"><i class="fa-solid fa-circle circle-icon"></i><i class="fa-solid fa-circle circle-icon"></i></button>
        </div>
        <p>It is necessary to develop a website redesign in a corporate style.</p>
        <div class="card-footer">
            <p class="info-box"><i class="fa-solid fa-clock"></i><span>1 week left</span></p>
            <img src="~/images/avatar-small-1.svg" alt="">
            <img src="~/images/avatar-small-2.svg" alt="">
        </div>
        <div id="card-1" class="card-dropdown dropdown hidden">
            <button class="dropdown-option" data-type="modal" data-target="#edit-project"><i class="fa-solid fa-pen"></i>Edit</button>
            <button class="dropdown-option"><i class="fa-solid fa-user-plus"></i>Add Member</button>
            <div class="divider-full"></div>
            <a href="#" class="dropdown-option text-red"><i class="fa-solid fa-trash"></i>Delete Project</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="~/images/project-logo.svg" alt="">
            <div class="card-heading">
                <h2 class="senary-heading">Website Redesign</h2>
                <p>GitLab Inc.</p>
            </div>
            <button class="btn-icon btn-more" data-type="toggle" data-target="#card-2"><i class="fa-solid fa-circle circle-icon"></i><i class="fa-solid fa-circle circle-icon"></i></button>
        </div>
        <p>It is necessary to develop a website redesign in a corporate style.</p>
        <div class="card-footer">
            <p class="info-box"><i class="fa-solid fa-clock"></i><span>1 week left</span></p>
            <img src="~/images/avatar-small-1.svg" alt="">
            <img src="~/images/avatar-small-2.svg" alt="">
        </div>
        <div id="card-2" class="card-dropdown dropdown hidden">
            <button class="dropdown-option" data-type="modal" data-target="#edit-project"><i class="fa-solid fa-pen"></i>Edit</button>
            <button class="dropdown-option"><i class="fa-solid fa-user-plus"></i>Add Member</button>
            <div class="divider-full"></div>
            <a href="#" class="dropdown-option text-red"><i class="fa-solid fa-trash"></i>Delete Project</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="~/images/project-logo.svg" alt="">
            <div class="card-heading">
                <h2 class="senary-heading">Website Redesign</h2>
                <p>GitLab Inc.</p>
            </div>
            <button class="btn-icon btn-more" data-type="toggle" data-target="#card-3"><i class="fa-solid fa-circle circle-icon"></i><i class="fa-solid fa-circle circle-icon"></i></button>
        </div>
        <p>It is necessary to develop a website redesign in a corporate style.</p>
        <div class="card-footer">
            <p class="info-box"><i class="fa-solid fa-clock"></i><span>1 week left</span></p>
            <img src="~/images/avatar-small-1.svg" alt="">
            <img src="~/images/avatar-small-2.svg" alt="">
        </div>
        <div id="card-3" class="card-dropdown dropdown hidden">
            <button class="dropdown-option" data-type="modal" data-target="#edit-project"><i class="fa-solid fa-pen"></i>Edit</button>
            <button class="dropdown-option"><i class="fa-solid fa-user-plus"></i>Add Member</button>
            <div class="divider-full"></div>
            <a href="#" class="dropdown-option text-red"><i class="fa-solid fa-trash"></i>Delete Project</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="~/images/project-logo.svg" alt="">
            <div class="card-heading">
                <h2 class="senary-heading">Website Redesign</h2>
                <p>GitLab Inc.</p>
            </div>
            <button class="btn-icon btn-more" data-type="toggle" data-target="#card-4"><i class="fa-solid fa-circle circle-icon"></i><i class="fa-solid fa-circle circle-icon"></i></button>
        </div>
        <p>It is necessary to develop a website redesign in a corporate style.</p>
        <div class="card-footer">
            <p class="info-box"><i class="fa-solid fa-clock"></i><span>1 week left</span></p>
            <img src="~/images/avatar-small-1.svg" alt="">
            <img src="~/images/avatar-small-2.svg" alt="">
        </div>
        <div id="card-4" class="card-dropdown dropdown hidden">
            <button class="dropdown-option" data-type="modal" data-target="#edit-project"><i class="fa-solid fa-pen"></i>Edit</button>
            <button class="dropdown-option"><i class="fa-solid fa-user-plus"></i>Add Member</button>
            <div class="divider-full"></div>
            <a href="#" class="dropdown-option text-red"><i class="fa-solid fa-trash"></i>Delete Project</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="~/images/project-logo.svg" alt="">
            <div class="card-heading">
                <h2 class="senary-heading">Website Redesign</h2>
                <p>GitLab Inc.</p>
            </div>
            <button class="btn-icon btn-more" data-type="toggle" data-target="#card-5"><i class="fa-solid fa-circle circle-icon"></i><i class="fa-solid fa-circle circle-icon"></i></button>
        </div>
        <p>It is necessary to develop a website redesign in a corporate style.</p>
        <div class="card-footer">
            <p class="info-box"><i class="fa-solid fa-clock"></i><span>1 week left</span></p>
            <img src="~/images/avatar-small-1.svg" alt="">
            <img src="~/images/avatar-small-2.svg" alt="">
        </div>
        <div id="card-5" class="card-dropdown dropdown hidden">
            <button class="dropdown-option" data-type="modal" data-target="#edit-project"><i class="fa-solid fa-pen"></i>Edit</button>
            <button class="dropdown-option"><i class="fa-solid fa-user-plus"></i>Add Member</button>
            <div class="divider-full"></div>
            <a href="#" class="dropdown-option text-red"><i class="fa-solid fa-trash"></i>Delete Project</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="~/images/project-logo.svg" alt="">
            <div class="card-heading">
                <h2 class="senary-heading">Website Redesign</h2>
                <p>GitLab Inc.</p>
            </div>
            <button class="btn-icon btn-more" data-type="toggle" data-target="#card-6"><i class="fa-solid fa-circle circle-icon"></i><i class="fa-solid fa-circle circle-icon"></i></button>
        </div>
        <p>It is necessary to develop a website redesign in a corporate style.</p>
        <div class="card-footer">
            <p class="info-box"><i class="fa-solid fa-clock"></i><span>1 week left</span></p>
            <img src="~/images/avatar-small-1.svg" alt="">
            <img src="~/images/avatar-small-2.svg" alt="">
        </div>
        <div id="card-6" class="card-dropdown dropdown hidden">
            <button class="dropdown-option" data-type="modal" data-target="#edit-project"><i class="fa-solid fa-pen"></i>Edit</button>
            <button class="dropdown-option"><i class="fa-solid fa-user-plus"></i>Add Member</button>
            <div class="divider-full"></div>
            <a href="#" class="dropdown-option text-red"><i class="fa-solid fa-trash"></i>Delete Project</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="~/images/project-logo.svg" alt="">
            <div class="card-heading">
                <h2 class="senary-heading">Website Redesign</h2>
                <p>GitLab Inc.</p>
            </div>
            <button class="btn-icon btn-more" data-type="toggle" data-target="#card-7"><i class="fa-solid fa-circle circle-icon"></i><i class="fa-solid fa-circle circle-icon"></i></button>
        </div>
        <p>It is necessary to develop a website redesign in a corporate style.</p>
        <div class="card-footer">
            <p class="info-box"><i class="fa-solid fa-clock"></i><span>1 week left</span></p>
            <img src="~/images/avatar-small-1.svg" alt="">
            <img src="~/images/avatar-small-2.svg" alt="">
        </div>
        <div id="card-7" class="card-dropdown dropdown hidden">
            <button class="dropdown-option" data-type="modal" data-target="#edit-project"><i class="fa-solid fa-pen"></i>Edit</button>
            <button class="dropdown-option"><i class="fa-solid fa-user-plus"></i>Add Member</button>
            <div class="divider-full"></div>
            <a href="#" class="dropdown-option text-red"><i class="fa-solid fa-trash"></i>Delete Project</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="~/images/project-logo.svg" alt="">
            <div class="card-heading">
                <h2 class="senary-heading">Website Redesign</h2>
                <p>GitLab Inc.</p>
            </div>
            <button class="btn-icon btn-more" data-type="toggle" data-target="#card-8"><i class="fa-solid fa-circle circle-icon"></i><i class="fa-solid fa-circle circle-icon"></i></button>
        </div>
        <p>It is necessary to develop a website redesign in a corporate style.</p>
        <div class="card-footer">
            <p class="info-box"><i class="fa-solid fa-clock"></i><span>1 week left</span></p>
            <img src="~/images/avatar-small-1.svg" alt="">
            <img src="~/images/avatar-small-2.svg" alt="">
        </div>
        <div id="card-8" class="card-dropdown dropdown hidden">
            <button class="dropdown-option" data-type="modal" data-target="#edit-project"><i class="fa-solid fa-pen"></i>Edit</button>
            <button class="dropdown-option"><i class="fa-solid fa-user-plus"></i>Add Member</button>
            <div class="divider-full"></div>
            <a href="#" class="dropdown-option text-red"><i class="fa-solid fa-trash"></i>Delete Project</a>
        </div>
    </div>
</section>
<div id="create-project" class="overlay hidden">
    <div class="modal">
        <div class="flex-sb">
            <h2 class="tertiary-heading">Add Project</h2>
            <button class="btn-icon" data-type="modal" data-target="#create-project"><i class="fa-solid fa-xmark fa-2xl"></i></button>
        </div>
        <form action="" class="form">
            <div class="image-previewer">
                <div class="circle">
                    <i class="fa-solid fa-camera"></i>
                </div>
                <img class="image-preview" src="" alt="">
                <input class="hidden" type="file" accept="image/*">
            </div>
            <div class="form-inner">
                <label for="">Project Name</label>
                <input type="text" placeholder="Project Name">
            </div>
            <div class="form-inner">
                <label for="">Client Name</label>
                <input type="text" placeholder="Client Name">
            </div>
            <div class="form-inner">
                <label for="">Description</label>
                <textarea name="" id="" placeholder="Type something"></textarea>
            </div>
            <div class="form-inners">
                <div class="form-inner">
                    <label for="">Start Date</label>
                    <input type="date">
                    <div class="form-icon-container right">
                        <i class="fa-solid fa-calendar-days"></i>
                    </div>
                </div>
                <div class="form-inner">
                    <label for="">End Date</label>
                    <input type="date">
                    <div class="form-icon-container right">
                        <i class="fa-solid fa-calendar-days"></i>
                    </div>
                </div>
            </div>
            <div class="form-inner">
                <label for="">Members</label>
                <select name="" id=""></select>
                <div class="form-icon-container right">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <div class="form-inner">
                <div class="form-icon-container left">
                    <i class="fa-solid fa-dollar-sign"></i>
                </div>
                <label for="">Budget</label>
                <input type="text" placeholder="0">
            </div>
            <button class="btn btn-blue btn-form">Create</button>
        </form>
    </div>
</div>
<div id="edit-project" class="overlay hidden">
    <div class="modal">
        <div class="flex-sb">
            <h2 class="tertiary-heading">Edit Project</h2>
            <button class="btn-icon" data-type="modal" data-target="#edit-project"><i class="fa-solid fa-xmark fa-2xl"></i></button>
        </div>
        <form action="" class="form">
            <div class="image-previewer">
                <div class="circle">
                    <i class="fa-solid fa-camera"></i>
                </div>
                <img class="image-preview" src="" alt="">
                <input class="hidden" type="file" accept="image/*">
            </div>
            <div class="form-inner">
                <label for="">Project Name</label>
                <input type="text" placeholder="Project Name">
            </div>
            <div class="form-inner">
                <label for="">Client Name</label>
                <input type="text" placeholder="Client Name">
            </div>
            <div class="form-inner">
                <label for="">Description</label>
                <textarea name="" id="" placeholder="Type something"></textarea>
            </div>
            <div class="form-inners">
                <div class="form-inner">
                    <label for="">Start Date</label>
                    <input type="date">
                    <div class="form-icon-container right">
                        <i class="fa-solid fa-calendar-days"></i>
                    </div>
                </div>
                <div class="form-inner">
                    <label for="">End Date</label>
                    <input type="date">
                    <div class="form-icon-container right">
                        <i class="fa-solid fa-calendar-days"></i>
                    </div>
                </div>
            </div>
            <div class="form-inner">
                <label for="">Members</label>
                <select name="" id=""></select>
                <div class="form-icon-container right">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <div class="form-inner">
                <div class="form-icon-container left">
                    <i class="fa-solid fa-dollar-sign"></i>
                </div>
                <label for="">Budget</label>
                <input type="text" placeholder="0">
            </div>
            <button class="btn btn-blue btn-form">Save</button>
        </form>
    </div>
</div>