@model RegisterViewModel

@{
	Layout = "_CleanLayout";
	ViewData["Title"] = "Register";
}

<div class="center">
    <div class="surface form-container">
        <h1 class="primary-heading">Create Account</h1>
        <form asp-action="ExternalLogin" asp-controller="Auth" method="post" novalidate>
            <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
            <button class="btn btn-gray btn-form btn-google" type="submit" name="provider" value="Google"><img src="~/images/google-icon.svg" alt="">Sign Up with Google</button>
        </form>
        <div class="divider">OR</div>
        <form class="form" asp-action="Register" asp-controller="Auth" method="post" novalidate>
            <div class="form-inner">
                <label class="fw-semi-bold" asp-for="FullName"></label>
                <div class="field-container">
                    <input type="text" asp-for="FullName">
                    <span asp-validation-for="FullName"></span>
                </div>
            </div>
            <div class="form-inner">
                <label class="fw-semi-bold" asp-for="Email"></label>
                <div class="field-container">
                    <input type="email" asp-for="Email">
                    <span asp-validation-for="Email"></span>
                </div>
            </div>
            <div class="form-inner">
                <label class="fw-semi-bold" asp-for="Password"></label>
                <div class="field-container">
                    <input type="password" asp-for="Password">
                    <span asp-validation-for="Password"></span>
                    <button class="btn-icon form-icon-container right" type="button"><img src="~/images/hide.svg" alt=""></button>
                </div>
            </div>
            <div class="form-inner">
                <label class="fw-semi-bold" asp-for="ConfirmPassword"></label>
                <div class="field-container">
                    <input type="password" asp-for="ConfirmPassword">
                    <span asp-validation-for="ConfirmPassword"></span>
                    <button class="btn-icon form-icon-container right" type="button"><img src="~/images/hide.svg" alt=""></button>
                </div>
            </div>
            <div class="checkbox-container">
                <input type="checkbox" asp-for="TermsAndConditions">
                <span class="checkbox"></span>
                <label class="fw-regular" asp-for="TermsAndConditions">I accept <a class="text-blue" href="#">Terms and Conditions</a></label>
            </div>
            <button class="btn btn-blue btn-form" type="submit">Create Account</button>
            <p class="fw-semi-bold mt">Already have an account? <a class="text-blue" asp-action="Login" asp-controller="Auth">Login</a></p>
        </form>
    </div>
</div>

<partial name="_ValidationScripts">