/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

/* Reset */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    font-size: 62.5%;

    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }
}

body {
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: var(--clr-body);
}

button {
    cursor: pointer;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
}

/* Variables */
:root {
    /* Colors */
    color-scheme: light dark;
    
    --white-100: #FFFFFF;
    --white-200: #F5F7FA;
    --white-300: #F1F3F7;
    --white-400: #F0F1F5;
    
    --gray-100: #E8EAED;
    --gray-200: #EBEEF2;
    --gray-300: #E3E5E8;
    --gray-400: #E8E8E8;
    --gray-500: #DEDEDE;
    --gray-600: #C6C8CC;
    --gray-700: #9E9E9E;
    --gray-800: #637085;
    
    --dark-100: #38383B;
    --dark-200: #333333;
    --dark-300: #28263B;
    --dark-400: #202123;
    --dark-500: #1C1D1F;
    --dark-600: #1A1926;
    
    --yellow: #FFD422;
    --yellow-dark: #FCBB42;
    --orange: #FF9640;
    --orange-dark: #F09330;
    --red: #FF6640;
    --red-dark: #E94D3F;
    --green: #31D482;
    --green-dark: #24B26B;
    --blue-100: #2CD9D9;
    --blue-200: #2D99FF;
    --blue-200-10: rgba(45, 153, 255, 0.1);
    --blue-300: #2D7DCC;
    --blue-400: #2682D9;
    --purple: #826AF9;
    --purple-dark: #634CD4;
    
    --clr-background: var(--white-200);
    --clr-body: var(--dark-300);
    --clr-heading: var(--dark-600);
    --clr-logo: var(--dark-300);
    --clr-border: var(--gray-200);
    --clr-border-dark: var(--gray-300);

    /* Typography */
    --ff-primary: 'Nunito', sans-serif;
    --ff-secondary: 'Comfortaa', sans-serif;
    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);
    --ff-logo: var(--ff-secondary);
    
    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;
    
    --fs-300: 1.2rem;
    --fs-400: 1.4rem;
    --fs-450: 1.6rem;
    --fs-500: 1.8rem;
    --fs-600: 2rem;
    --fs-700: 2.4rem;
    --fs-800: 2.8rem;
    --fs-900: 3.2rem;
}

/* Utility classes */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    white-space: nowrap;
}

.center {
    display: grid;
    place-items: center;
    height: 100svh;
}

.fw-semi-bold {
    font-weight: var(--fw-semi-bold);
}

.text-blue {
    color: var(--blue-200);
}

.flex-sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-icon {
    border: none;
    background-color: transparent;
}

.form-icon {
    position: absolute;
    right: 1.4rem;
    bottom: 1.4rem;
}

/* General styling */
body {
    font-family: var(--ff-body);
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
    font-style: normal;
    line-height: 1.5;
    color: var(--clr-body);
    background-color: var(--clr-background);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--ff-heading);
    text-wrap: balance;
    color: var(--clr-heading);
}

p, h1, h2, h3, h4, h5, h6, span {
    overflow-wrap: break-word;
}

.primary-heading {
    font-size: var(--fs-900);
    font-weight: var(--fw-bold);
}

.secondary-heading {
    font-size: var(--fs-800);
    font-weight: var(--fw-bold);
}

.tertiary-heading {
    font-size: var(--fs-700);
    font-weight: var(--fw-bold);
}

.quaternary-heading {
    font-size: var(--fs-600);
    font-weight: var(--fw-semi-bold);
}

.quinary-heading {
    font-size: var(--fs-500);
    font-weight: var(--fw-semi-bold);
}

.senary-heading {
    font-size: var(--fs-450);
    font-weight: var(--fw-semi-bold);
}

input {
    background-color: transparent;
    color: var(--gray-800);
    
    &::placeholder {
        color: var(--gray-800);
    }
}

/* Structure & Layout */
.portal-grid {
    display: grid;
    grid-template-columns: minmax(100px, 270px) 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "side top" "side main";
    height: 100svh;
    
    > header {
        grid-area: top;
        border-bottom: 1px solid var(--clr-border-dark);
    }

    > main {
        grid-area: main;
    }

    > aside {
        grid-area: side;
        border-right: 1px solid var(--clr-border-dark);
    }
}

/* Components */
.logo {
    font-family: var(--ff-logo);
    color: var(--clr-logo);
    font-weight: var(--fw-bold);
    font-size: 2.6rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.top-menu {
    padding: 2rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20rem;
}

.searchbar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    
    > input {
        width: 100%;
        border: none;
        outline: none;
    }
}

.menu-options {
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.divider-vertical {
    width: 1px;
    height: 31px;
    background-color: var(--clr-border-dark);
}

.portal-main {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.side-navigation {
    padding: 2.1rem 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 2.7rem;
}

.nav-links {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.nav-link {
    font-weight: var(--fw-semi-bold);
    display: flex;
    align-items: center;
    gap: 1.6rem;
    padding: 1.1em;
    border-radius: 1.1em;
    
    &:hover {
        color: var(--blue-200);
        background-color: var(--blue-200-10);
    }
}

.nav-link.active {
    color: var(--blue-200);
    background-color: var(--blue-200-10);
}

.tab-links {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    padding-bottom: 1.2rem;
    border-bottom: 1px solid var(--clr-border-dark);
}

.tab-link {
    font-weight: var(--fw-bold);
    color: var(--gray-800);
    position: relative;
    padding-bottom: 1.4rem;
    
    &:hover {
        color: var(--blue-200);
    }

    &:hover::after {
        content: "";
        width: 100%;
        height: 3px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: var(--blue-200);
        border-radius: 4px 4px 0 0;
    }
}

.tab-link.active {
    color: var(--blue-200);
    
    &::after {
        content: "";
        width: 100%;
        height: 3px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: var(--blue-200);
        border-radius: 4px 4px 0 0;
    }
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--fw-semi-bold);
    border: none;
    border-radius: 0.93em;
    padding-block: 0.93em;
}

.btn-blue {
    background-color: var(--blue-200);
    color: var(--white-100);
}

.btn-gray {
    background-color: var(--white-200);
    color: var(--dark-600);
}

.btn-add {
    padding-inline: 1.6em;
    gap: 0.4em;
}

.btn-form {
    width: 100%;
}

.btn-google {
    position: relative;
    
    > img {
        position: absolute;
        left: 1.6rem;
    }
}

.user-form {
    background-color: var(--white-100);
    border-radius: 1.6rem;
    box-shadow: 0 6px 6px 1px rgba(182, 182, 182, 0.1);
    padding: 9.9rem 10rem 2.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60rem;
    
    > :first-child {
        margin-bottom: 2.7rem;
    }

    > :last-child {
        margin-top: 5.9rem;
    }
}

.form-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
}

.input-container {
    display: grid;
    gap: 0.9rem;
    position: relative;
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    position: relative;
    
    > input {
        cursor: pointer;
        opacity: 0;
        z-index: 999;
    }

    > input:checked ~ .checkbox {
        background-color: var(--blue-200);
        border-color: var(--blue-200);
    }

    > input:checked ~ .checkbox::after {
        display: block;
    }

    > input:checked ~ .checkbox::before {
        display: block;
    }
}

.input-field {
    padding: 1.4rem 1.6rem;
    border-radius: 1.4rem;
    border: 1px solid var(--clr-border);
    color: var(--gray-800);
}

.checkbox {
    position: absolute;
    left: -0.15rem;
    border-radius: 5px;
    border: 1px solid var(--clr-border);
    width: 16px;
    height: 16px;
}

.checkbox::after {
    content: "";
    position: absolute;
    display: none;
    left: 7px;
    top: 3.5px;
    width: 2px;
    height: 7px;
    background-color: var(--white-100);
    border-radius: 100vmax 100vmax 100vmax 0;
    rotate: 45deg;
}

.checkbox::before {
    content: "";
    position: absolute;
    display: none;
    left: 4px;
    top: 5.5px;
    width: 2px;
    height: 4px;
    background-color: var(--white-100);
    border-radius: 100vmax 100vmax 0 0;
    rotate: -45deg;
}

.divider {
    position: relative;
    color: var(--gray-800);
    font-size: 1.2rem;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider::before {
    content: "";
    position: absolute;
    left: 0;
    height: 1px;
    width: 43.75%;
    background-color: var(--clr-border);
}

.divider::after {
    content: "";
    position: absolute;
    right: 0;
    height: 1px;
    width: 43.75%;
    background-color: var(--clr-border);
}

/* Tablet */
@media (min-width: 768px) {
    :root {
        --fs-300: 1.4rem;
        --fs-400: 1.5rem;
        --fs-450: 1.8rem;
        --fs-500: 2rem;
        --fs-600: 2.4rem;
        --fs-700: 2.8rem;
        --fs-800: 3.2rem;
        --fs-900: 3.6rem;
    }
}

/* Desktop */
@media (min-width: 1200px) {
}
